/* Fundo e fonte padrão */
body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: rgb(138, 66, 14);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 2px;
}

/* Seções principais */
main {
    padding: 40px 20px;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    color: #f0e68c;
}

/* Card com a caminhonete */
.card {
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 30px;
    max-width: 600px;
    margin: 0 auto 50px auto;
    box-shadow: 0 0 15px rgba(147, 79, 1, 0.977);
    text-align: center;
}

.card img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}
section{
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background-color: rgb(138, 66, 14);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: auto;
    width: 100%;
    bottom: 0;
}